{% include 'header.html' %}
<header class="bd-header">
  <div class="bd-header-titles">
    <h1 class="title">
      Iternal server Error
    </h1>
    <p class="subtitle is-4">
      Please send email, some error <br>
      <strong>Contact</strong> <a href="mailto:support@reponse.co">support@reponse.co</a>
    </p>
    <p class="subtitle is-4">
      Everything you need to <strong>Contact</strong> <a href="mailto:support@reponse.co">support@reponse.co</a>
    </p>
  </div>
</header>
{% include 'footer.html' %}
