</div>
</div>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="soc">
        <a href="https://github.com/reponseteam"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://medium.com/@Reponse"><i class="fab fa-medium fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/reponse7/"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/Team_Reponse"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
      </div>
      <p>
        <strong>LIN Scanner</strong> by <a href="http:/linarena.com">LINArena. 2018</a>. 
        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
      </p>
    </div>
  </div>
</footer>
<script src="/static/js/style.js"></script>
</body>
</html>
